@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.btn-reply {
  border: none;
  font-size: 12px;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-reply:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn-reply:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-forumSearch{
    background: none !important; 
    border: none; 
    padding: 0 !important; 
    font: inherit; 
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(https://cdn.hipwallpaper.com/i/34/13/5Kb6dg.jpg); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.inline-icon {
    vertical-align: text-bottom;
}

.logo{
    display: inline-block;
    background: #00A7E1 url(/img/gameinformerlogo.png) left center/200px 1400px no-repeat !important;
}

.defaultpfp{
  display: inline-block;
  height: 100px; 
  width: 100px; 
  border-radius: 50%; 
}
.register{
  display: flex; 
  background-color: white; 
  padding: 15px; 
  width: 50%; 
  margin: 0 auto; 
}

.registerHeader{
  display: flex; 
  background-color: darkred; 
  width: 50%; 
  text-align: center;
  margin: 0 auto;
  padding: 15px; 
}

.registerHeading{
  display: block; 
  color: darkred;
  padding: 3px; 
  width: 50%;

}
.sectionHeader{
  display: flex; 
  background-color: darkred; 
  padding: -10px; 
  text-align: center; 
  margin: 0 auto; 
}

.sectionHeading{
    display: block; 
    color: #000;
    padding: 3px; 
}

.error{
  color: red; 
}

.list-item{
  display: flex;
  border-bottom: 5px solid #999999;   
  width : 50%; 
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; 
}

.list-item:hover{
  display: flex;
  border-bottom: 5px solid black; 
  width: 50%; 
  justify-content: center;
  align-items: center;
  
}

#image{
  display: inline-block; 
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
}

.editProfile{
  display: inline-block; 
  padding: 15px; 
}

.user-container{
  display: block; 
  padding: 15px; 
  background-color: white; 
}